<!doctype html>
<html ng-app="app">

<head>
  <link href='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
  <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="../src/angular-froala.js"></script>
  <script src="../src/froala-sanitize.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/4.4.1/css/bootstrap-combined.min.css">
</head>

<body>
  
  <div ng-controller="ctrl1">
    <button ng-click="formOpen = !formOpen">toggle form</button>

    <div ng-if="formOpen">
      <form name="form" class="css-form" novalidate enctype="multipart/form-data" ng-submit="addContent(form)">
        <textarea froala="froalaOptions" ng-model="content.text"></textarea>

        <button type="submit"> submit </button>
      </form>

      <div>{{content.text}}</div>
    </div>

  </div>
</body>

</html>